#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<sly data-sly-test="${symbol_dollar}{!currentPage.template.hasStructureSupport}" data-sly-include="content.html"></sly>
<sly data-sly-test="${symbol_dollar}{currentPage.template.hasStructureSupport}">
    <sly data-sly-use.templatedContainer="com.day.cq.wcm.foundation.TemplatedContainer"
        data-sly-repeat.child="${symbol_dollar}{templatedContainer.structureResources}"
        data-sly-resource="${symbol_dollar}{child.path @ resourceType=child.resourceType, decorationTagName='div'}"/>
</sly>
<div data-sly-resource="${symbol_dollar}{'cloudservices' @ resourceType='cq/cloudserviceconfigs/components/servicecomponents'}" data-sly-unwrap></div>
<sly data-sly-include="footerlibs.html" />